<h2 mat-dialog-title>Import payments</h2>
<mat-dialog-content>
  <app-core-loading-progress [loading]="loadingSignal()"></app-core-loading-progress>
  @if (!this.readRepository.loadingSignal()) {
    <mat-selection-list>
      @for (importItem of dataSignal(); track importItem) {
        <mat-list-option [selected]="!importItem.scan.disabled" [disabled]="importItem.scan.disabled">
          <div class="row">
            <div class=description-cell>
              {{importItem.scan.productName}}
            </div>
            <div class="amount-cell">
              {{importItem.scan.scanValue | number : '1.2-2'}}
            </div>
          </div>
        </mat-list-option>
      }
    </mat-selection-list>
    <div class="row">
      <strong>
        <div class="description-cell">
          Total
        </div>
      </strong>
    </div>
  }

</mat-dialog-content>
<mat-dialog-actions>
  <button matButton="filled" class="confirm-button" mat-dialog-close="true" [disabled]="loadingSignal()">Import</button>
  <button matButton mat-dialog-close>Cancel</button>
</mat-dialog-actions>
